<markdown ngPreserveWhitespaces>
  ### Intro:
  For as long as I can remember I have had an intense appreciation for the Metroid series. It has created in me a life-long
  love of video games, space, art, and probably a few other things. Because of this and other inspirational projects such as
  <a href="http://www.axiomverge.com">Axiom Verge</a>, I have decided to start a passion project for myself! This will
  undoubtedly be an incredibly fun and at times, trying, journey, but I am very excited to put all of the skills I've
  developed as a software developer to the test!
  
  ### Concept:
  The game I have in mind is a metroidvania style game with 2D pixel art graphics. I want to create all of the art and 
  code myself, but will likely try to outsource any music for the game, as I have very limited experience in that area.
  The final product will likely feature a space / scifi theme and will be mysterious and gritty in nature. My main influences will
  most likely be Metroid Prime and Metroid Fusion, but I hope to have created something truly unique in the end!
  
  ### Software:

  #### <a href="https://www.aseprite.org/">Aseprite</a>

  Aseprite is a tool built specifically for creating pixel art and has been an integral part of learning pixel art for me. There
  are a ton of solid videos on how to use the program and their documentation is very good, so if you're looking to get in to
  pixel art I would recommend this every single time.

  #### <a href="http://www.monogame.net/">Monogame</a>

  Monogame is a game development framework that allows you to build entire games in C#. It is free to use and behaves similarly
  to Unity, but without the user interface. I chose to use this framework because in all the experiences I have had with
  Unity and Unreal, I always felt like there was either too much hand-holding or too much complexity, which I believe has been
  hampering my ability to really learn and get what I want out of the game development process. This framework is nice because it
  just gives you a game loop and then lets you run free! Some popular games that have been developed with Monogame are 
  <a href="https://www.chasmgame.com/">Chasm</a> and <a href="http://www.axiomverge.com">Axiom Verge</a>, which are what led 
  me to check out this framework in the first place.
  
  ### Special thanks:

  I really want to shout out to all of my friends and, the best of those, my fiancée, for all of the support they've given me
  in my journey so far! I have learned a ton from all of you and without that I would not have had any of the knowledge or 
  motivation required to pick up a project of this magnitude. Thank you again for everything, and I hope that I can make something
  cool for all of you!
  
</markdown>