<markdown ngPreserveWhitespaces>
  ### Intro:
  Ever since I started playing video games I have always had an intense appretiation for the Metroid series. It has
  spawned a life long love of video games, space, and art. Because of this, and other inspirational projects such as
  <a href="http://www.axiomverge.com">Axiom Verge</a>, I have decided to start a passion project for myself! This will
  undoubtedly be an incredibly fun and at times, trying, journey, but I am very excited to put all of the skills I've
  developed as a software developer to the test!
  
  ### Concept:
  The game I have in mind is a metroidvania style game, with 2D pixel art graphics. I want to create all of the art and 
  code myself, but will likely try to outsource any music for the game, as I have very limited experience in that area.
  The final product will feature space / scifi concepts and will be mysterious and gritty in nature. My main influences will
  most likely be Metroid Prime and Fusion, but I hope to have created something truly unique by the end! 
  
  ### Software:
  For the art I will be mostly using an application 
</markdown>