@import '../../../styles.scss';

.post {
  margin: 20px 0px;
  box-shadow: 0px 5px 20px #bfbfbf;
  
  .image {
    height: 200px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    background-color: $heading;
  }

  .text-content {
    background-color: white;
    padding: 30px;

    .date {
      padding-bottom: 15px;
      font-size: 12px;
      color: $primary-background;
    }

    .title {
      color: $heading;
      font-weight: bolder;
      font-size: 20px;
      text-decoration: none;
    }
  }
}