@import '../../../styles.scss';

.post {
  margin: 20px 0px;
  box-shadow: 0px 5px 20px #bfbfbf;
  
  .image {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: $heading;
  }

  .text-content {
    background-color: white;
    padding: 30px;
    width: inherit;

    // TODO: This is fucking BROKEN
    .post-content {
      overflow: hidden;
      // THIS SPECIFICALLY. FUCK THIS THING IN PARTICULAR 
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-top: 10px;
      margin: 0px;
    }

    .date {
      padding-bottom: 10px;
      font-size: 12px;
      color: $primary-background;
    }

    .title {
      color: $heading;
      font-weight: bolder;
      font-size: 20px;
      text-decoration: none;
    }
  }
}