@import '../styles.scss';

.wrapper {
  margin: 0px auto;
  overflow: hidden;
  color: $text;
  height: 100%;
  
  .content-wrapper {
    position: absolute;
    overflow-y: auto;
    padding-top: $header-height;

    .content {
      padding: $content-padding;
      height: 70%;
    }
  }
}
