$heading: #8abca7;
$subheading: #8abca7;
$primary-background: #4682a4;
$secondary-background: white;
$link: #131925;
$text: #203d59;

$content-padding: 0px 25%;
$header-height: 50px;

html {
  height: 100%;
  line-height: 25px;
  text-rendering: optimizeLegibility;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a { 
  color: $link;
}

h3 {
  color: $heading;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}